.home {
  width: 100vw;
  height: 100vh;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      font-size: 2em;
    }
  }

  .icon {
    margin: 1em;
    font-size: 2em;
    transition: transform 500ms;
  }

  .icon:hover {
    transform: scale(1.25);
  }
}