$black: #4d4646;
$white: #ffffff;
$green: #75b79e;

.cl-black {
  color: $black;
}

.cl-green {
  color: $green;
}

.cl-white {
  color: $white;
}

.bg-cl-black {
  background-color: $black;
}

.bg-cl-green {
  background-color: $green;
}

.bg-cl-white {
  background-color: $white;
}